In [1]:
!pip install yfinance
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.87-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 602 kB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.87

In [79]:
#S&P 500 데이터 확인
SnP = yf.Ticker('^GSPC')
Nasdaq = yf.Ticker('^IXIC')
Dow = yf.Ticker('^DJI')

In [80]:
SnP.history(period='5d', actions=False)

,Open,High,Low,Close,Volume
Date,,,,,
2022-11-28 00:00:00-05:00,4005.360107,4012.270020,3955.770020,3963.939941,3615430000
2022-11-29 00:00:00-05:00,3964.189941,3976.770020,3937.649902,3957.629883,3546040000
2022-11-30 00:00:00-05:00,3957.179932,4080.110107,3938.580078,4080.110107,6579360000
2022-12-01 00:00:00-05:00,4087.139893,4100.509766,4050.870117,4076.570068,4527130000
2022-12-02 00:00:00-05:00,4040.169922,4080.479980,4026.629883,4071.699951,4012620000

In [81]:
Nasdaq.history(period='5d', actions=False)

,Open,High,Low,Close,Volume
Date,,,,,
2022-11-28 00:00:00-05:00,11147.570312,11217.750000,11020.690430,11049.500000,4271360000
2022-11-29 00:00:00-05:00,11060.019531,11086.019531,10944.370117,10983.780273,4592830000
2022-11-30 00:00:00-05:00,10995.200195,11468.469727,10966.530273,11468.000000,6653460000
2022-12-01 00:00:00-05:00,11475.169922,11546.769531,11378.750000,11482.450195,5158120000
2022-12-02 00:00:00-05:00,11308.379883,11492.320312,11296.719727,11461.500000,4523010000

In [82]:
Dow.history(period='5d', actions=False)

,Open,High,Low,Close,Volume
Date,,,,,
2022-11-28 00:00:00-05:00,34275.910156,34303.878906,33799.351562,33849.460938,300330000
2022-11-29 00:00:00-05:00,33847.800781,33933.910156,33662.449219,33852.531250,279750000
2022-11-30 00:00:00-05:00,33795.429688,34589.769531,33583.769531,34589.769531,524440000
2022-12-01 00:00:00-05:00,34533.589844,34595.511719,34129.351562,34395.011719,348720000
2022-12-02 00:00:00-05:00,34265.449219,34483.210938,34039.730469,34429.878906,290580000

In [83]:
df1 = SnP.history(start='2017-12-17', end='2020-7-18', actions=False)

In [84]:
df2 = Nasdaq.history(start='2017-12-17', end='2020-7-18', actions=False)

In [85]:
df3 = Dow.history(start='2017-12-17', end='2020-7-18', actions=False)

In [86]:
df1

,Open,High,Low,Close,Volume
Date,,,,,
2017-12-18 00:00:00-05:00,2685.919922,2694.969971,2685.919922,2690.159912,3727770000
2017-12-19 00:00:00-05:00,2692.709961,2694.439941,2680.739990,2681.469971,3407680000
2017-12-20 00:00:00-05:00,2688.179932,2691.010010,2676.110107,2679.250000,3246230000
2017-12-21 00:00:00-05:00,2683.020020,2692.639893,2682.399902,2684.570068,3293130000
2017-12-22 00:00:00-05:00,2684.219971,2685.350098,2678.129883,2683.340088,2401030000
...,...,...,...,...,...
2020-07-13 00:00:00-04:00,3205.080078,3235.320068,3149.429932,3155.219971,4902440000
2020-07-14 00:00:00-04:00,3141.110107,3200.949951,3127.659912,3197.520020,4507140000
2020-07-15 00:00:00-04:00,3225.979980,3238.280029,3200.760010,3226.560059,4686830000
2020-07-16 00:00:00-04:00,3208.360107,3220.389893,3198.590088,3215.570068,3972860000
2020-07-17 00:00:00-04:00,3224.209961,3233.520020,3205.649902,3224.729980,4012850000

In [87]:
df1.reset_index(inplace=True)
df2.reset_index(inplace=True)
df3.reset_index(inplace=True)

In [88]:
df1['Date'] = df1['Date'].dt.strftime('%Y/%m/%d')
df2['Date'] = df2['Date'].dt.strftime('%Y/%m/%d')
df3['Date'] = df3['Date'].dt.strftime('%Y/%m/%d')

In [89]:
df1

,Date,Open,High,Low,Close,Volume
0,2017/12/18,2685.919922,2694.969971,2685.919922,2690.159912,3727770000
1,2017/12/19,2692.709961,2694.439941,2680.739990,2681.469971,3407680000
2,2017/12/20,2688.179932,2691.010010,2676.110107,2679.250000,3246230000
3,2017/12/21,2683.020020,2692.639893,2682.399902,2684.570068,3293130000
4,2017/12/22,2684.219971,2685.350098,2678.129883,2683.340088,2401030000
...,...,...,...,...,...,...
644,2020/07/13,3205.080078,3235.320068,3149.429932,3155.219971,4902440000
645,2020/07/14,3141.110107,3200.949951,3127.659912,3197.520020,4507140000
646,2020/07/15,3225.979980,3238.280029,3200.760010,3226.560059,4686830000
647,2020/07/16,3208.360107,3220.389893,3198.590088,3215.570068,3972860000
648,2020/07/17,3224.209961,3233.520020,3205.649902,3224.729980,4012850000

In [93]:
df1.to_csv('SnP.csv',index=False)
df2.to_csv('Nasdaq.csv',index=False)
df3.to_csv('Dow.csv',index=False)